.firstDiv {
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.secondDiv {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: #F5F5F5;
    padding-left: 5%;
    padding-right: 5%;
}

.avatar {
    width: 50%;
    height: 50%;
}